doctype html
html
  head
    title Node-Challenge
  body
    h1 Password reset
    p Please type your new password and press Reset button

    block content
    div.text-center
        form(method="POST" action="/password-reset")
            input(value=email name="email" id="inputEmail" hidden )
            input(value=token name="token" id="inputToken" hidden )

            label(for="inputPassword") Password 
            input(type="password" name="password" id="inputPassword" placeholder="Password" autofocus required)
            br
            button(class=buttonClass type="submit") Reset
